/* google font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: #F5F5F5;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* global Style */
/* Primary button */
.btn {
  padding: 15px 30px;
  color: white;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  color: #0e0e0e;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #0e0e0e;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  color: #0e0e0e;
}

p{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}

nav{
   margin-top: 20px; 
   margin-bottom: 20px;
}
.nav-btn{
    background-color: transparent;
    border: 1px solid #006A50;
    color: #006A50;
}

.hero{
    background-color: #C6E4D6;
    padding:80px 60px ;
    border-radius: 24px;
    text-align: left;
    gap: 60px;
    margin-top: 30px;
}

.hero h3{
font-size: 20px;
}

.hero h1{
font-size: 45px;
font-weight: 700;
color: #0E0E0E;
margin-top: 16px;
margin-bottom: 24px;
}

.hero button{
background-color: #006A50;
color: white;
}

.hero img{
width: 100%;
height: auto;
}

/* Pollars of Bangladesh 2.0 */
.pillars{
  margin-top: 80px;
}

.pillars-cards{
  margin-top: 30px;
  gap: 24px;
}

.pillars-cards img{
  height: 64px;
  width: 66px;
}

.pillars-cards h3{
  margin-top: 20px;
  margin-bottom: 12px;
}

.pillars-card{
  padding: 20px;
  border-radius: 24px;
  background-color: #ffffff;

}

/* The vision of future */
.vision{
  margin-top: 80px;
}

.vision-cards{
  margin-top: 30px;
  gap: 24px;
}

.vision-cards img{
  height: 64px;
  width: 66px;
}

.vision-cards h3{
  margin-top: 20px;
  margin-bottom: 12px;
}

.vision-card{
  padding: 20px;
  border-radius: 24px;
  background-color: #ffffff;
}

.vision button{
  margin-top: 30px;
}

/* Dr. Muhammad Yunus */
.yunus {
  margin-top: 32px;
  padding: 48px 24px;
  border-radius: 16px;
  background-color: #ffffff;
  background-image: url(./image/fi_2087863.png);
  background-repeat: no-repeat;
  background-size: 64px;
  background-position: left 24px top 20px;
  margin-bottom: ;
}

.yunus h3{
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 4px;
}


/* Your Opinion Matters */
.Opinion-container{
  margin-top: 80px;
}

.Opinion-main{
  background-color: #ffffff;
  padding: 32px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
}

.first-line{
  background-color: #C6E4D6;
  padding: 24px;
  border: 1px solid #cac7c7;
  border-radius: 10px 10px 0 0;
}

.second{
  background-color: transparent;
  padding: 24px;
  border: 1px solid #cac7c7;
  border-top: none;
}

.fourth{
  border-radius:0 0 10px 10px;
}
.opinion-btn button{
  border: 0.01px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #C6E4D6;
}

